<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offices Report</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<h1>Offices Report</h1>
{{#offices}}
<section>
    <h2>{{name}}</h2>
    <p><strong>Location:</strong> {{location}}</p>

    {{#resources}}
    <div>
        <strong>Resources:</strong>
        {{#resources}}
        <p class="resources" style="background-color: {{color iter.index}};">
            {{.}}
        </p>
        {{/resources}}
    </div>
    {{/resources}}

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Project</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Experience (years)</th>
        </tr>
        </thead>
        <tbody>
        {{#employees}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{project.name}}</td>
            <td>{{position}}</td>
            <td>{{salary}}</td>
            <td>{{experience}}</td>
        </tr>
        {{/employees}}
        </tbody>
    </table>
</section>
{{/offices}}
</body>
</html>