@import ru.sbertech.platformv.print.benchmarktemplateengines.model.dto.CompanyDto
@import java.util.List
@args (List<CompanyDto> companies)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies Report</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<h1>Companies Report</h1>

@for (company : companies) {
<div class="company-section">
    <div class="company-info">
        <h2>@company.getName()</h2>
        <p><strong>Code:</strong> @company.getCode()</p>
        <p><strong>Director:</strong> @company.getDirector().getName()</p>
        <p><strong>Main office:</strong> @company.getGeneralOffice().getName()</p>
    </div>
    <div class="company-logo">
        <img src="../assets/company/@company.getLogo().getName()" alt="@company.getName() logo"/>
    </div>
</div>
}

</body>
</html>