<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offices Report</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body><h1>Offices Report</h1>
<div>
    <section><h2>Regional office in Novosibirsk</h2>
        <p><strong>Location:</strong> <span>Novosibirsk, st. Titova 12, office 2002</span></p>
        <div><strong>Resources:</strong>
            <div><p class="resources" style="background-color: #ff5733;">open-spaces</p></div>
            <div><p class="resources" style="background-color: #33ff57;">food places</p></div>
            <div><p class="resources" style="background-color: #3357ff;">gym</p></div>
            <div><p class="resources" style="background-color: #ff5733;">pool</p></div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Personal Table</th>
                <th>Name</th>
                <th>Project</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Experience (years)</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>
<div>
    <section><h2>Regional office in Akademgorodok</h2>
        <p><strong>Location:</strong> <span>Novosibirsk, st. Nikolaeva 20, office 2002</span></p>
        <div><strong>Resources:</strong>
            <div><p class="resources" style="background-color: #ff5733;">open-spaces</p></div>
            <div><p class="resources" style="background-color: #33ff57;">food places</p></div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Personal Table</th>
                <th>Name</th>
                <th>Project</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Experience (years)</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>
<div>
    <section><h2>Regional office in Omsk</h2>
        <p><strong>Location:</strong> <span>Omsk, st. Ordzhonikidze 211</span></p>
        <div><strong>Resources:</strong>
            <div><p class="resources" style="background-color: #ff5733;">open-spaces</p></div>
            <div><p class="resources" style="background-color: #33ff57;">gym</p></div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Personal Table</th>
                <th>Name</th>
                <th>Project</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Experience (years)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Pavel Romanov</td>
                <td>Platform V Pangolin DB</td>
                <td>Inner Backend Java</td>
                <td>100.20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Marina Volkova</td>
                <td>Platform V Print</td>
                <td>Finance Manager</td>
                <td>120,000.00</td>
                <td>12</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Egor Popenko</td>
                <td>Platform V Print</td>
                <td>Middle Backend Java</td>
                <td>100.20</td>
                <td>3</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Alexey Fedorov</td>
                <td>Platform V Pangolin DB</td>
                <td>HR Specialist</td>
                <td>120,000.00</td>
                <td>12</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<div>
    <section><h2>Regional office in Tomsk</h2>
        <p><strong>Location:</strong> <span>Tomsk, st. Bubnova 99</span></p>
        <table>
            <thead>
            <tr>
                <th>Personal Table</th>
                <th>Name</th>
                <th>Project</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Experience (years)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2</td>
                <td>Olga Pavlova</td>
                <td>Platform V Pangolin DB</td>
                <td>Finance Manager</td>
                <td>100,000.00</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Svetlana Karpova</td>
                <td>Platform V Print</td>
                <td>HR Specialist</td>
                <td>100,000.00</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<div>
    <section><h2>General office</h2>
        <p><strong>Location:</strong> <span>Moscow, Novodanilovskaya embankment 11</span></p>
        <div><strong>Resources:</strong>
            <div><p class="resources" style="background-color: #ff5733;">open-spaces</p></div>
            <div><p class="resources" style="background-color: #33ff57;">food places</p></div>
            <div><p class="resources" style="background-color: #3357ff;">gym</p></div>
            <div><p class="resources" style="background-color: #ff5733;">pool</p></div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Personal Table</th>
                <th>Name</th>
                <th>Project</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Experience (years)</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>
</body>
</html>