<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offices Report</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body><h1>Companies Report</h1>
<div class="company-section">
    <div class="company-info"><h2> Sberbank</h2>
        <p><strong>Code:</strong> 12643748382</p>
        <p><strong>Director:</strong> Pavel Romanov</p>
        <p><strong>Main office:</strong> Business center &#39;Ordzhonikidze&#39;</p></div>
    <div class="company-logo"><img src="../assets/sberpao.png" alt="Sberbank logo"/></div>
</div>
<section><h2>Business center &#39;Technopark&#39;</h2>
    <p><strong>Location:</strong> Novosibirsk, st. Nikolaeva 20, office 2002</p>
    <div><strong>Resources:</strong>
        <p class="resources" style="                        background-color: #ff5733;            "> open-spaces </p>
        <p class="resources" style="             background-color: #33ff57; "> food places </p></div>
    <table>
        <thead>
        <tr>
            <th>Personal Table</th>
            <th>Name</th>
            <th>Project</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Experience (years)</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
<section><h2>Business center &#39;Ordzhonikidze&#39;</h2>
    <p><strong>Location:</strong> Omsk, st. Ordzhonikidze 211</p>
    <div><strong>Resources:</strong>
        <p class="resources" style="                        background-color: #ff5733;            "> open-spaces </p>
        <p class="resources" style="             background-color: #33ff57; "> gym </p></div>
    <table>
        <thead>
        <tr>
            <th>Personal Table</th>
            <th>Name</th>
            <th>Project</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Experience (years)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Pavel Romanov</td>
            <td>Platform V Pangolin DB</td>
            <td>Inner Backend Java</td>
            <td>100.2</td>
            <td>0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Marina Volkova</td>
            <td>Platform V Print</td>
            <td>Finance Manager</td>
            <td>120000.0</td>
            <td>12</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Egor Popenko</td>
            <td>Platform V Print</td>
            <td>Middle Backend Java</td>
            <td>100.2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Alexey Fedorov</td>
            <td>Platform V Pangolin DB</td>
            <td>HR Specialist</td>
            <td>120000.0</td>
            <td>12</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>