body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1, h2 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.resources {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.departament-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.departament-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.company-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.company-info {
    flex: 1;
}

.company-logo img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    margin-left: 20px;
    border-radius: 8px;
}

.office-section {
    padding-bottom: 30px;
}
.office-info-section {
    display: flex;
}
.office-info {
    flex: 1;
}
.office-photo {
    margin-left: 20px;
}
.office-photo img {
    width: 300px;
    height: auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}
th {
    background-color: #f4f4f4;
}